@using Services.ViewModels.OptionsModel
@{
    ViewBag.Title = "Index";
}

@model MessageListModel

@section scripts
{
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="../../Content/clockpicker.js"></script>
    <script src="../../Content/bootstrap-clockpicker.js"></script>
    <script src="../../Content/jquery-clockpicker.js"></script>

    <link href="../../Content/clockpicker.css" rel="stylesheet"></link>
    <link href="../../Content/bootstrap-clockpicker.css" rel="stylesheet"></link>
    <script type="text/javascript">
        $(function () {
            $('.datepicker').clockpicker({
                donetext: 'Done',
            });
        });
    </script>

}

<h2>Message options</h2>

<div class="panel panel-default left-add-message-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Default message options</h3>
    </div>
    <div class="panel-body">
        <h4>Add new message</h4>

        @using (Html.BeginForm("AddNewMessage", "Options", FormMethod.Post))
        {
            var model = new MessageViewModel();
            <div class="form-group input-group-sm">
                Text: @Html.TextAreaFor(o => model.Message, new { @class = "form-control" })
            </div>
            <div class="form-group input-group-sm">
                Time from: @Html.TextBoxFor(o => model.StartTime, new { @class = "form-control datepicker" })
            </div>
            <div class="form-group input-group-sm">
                Time to: @Html.TextBoxFor(o => model.EndTime, new { @class = "form-control datepicker" })
            </div>
            <div class="form-group input-group-sm">
                After stop words: @Html.CheckBoxFor(o => model.IsEmergencyText, new { @class = "form-control" })
            </div>
            <div class="form-group input-group-sm">
                Number of message: @Html.TextBoxFor(o => model.OrderNumber, new { @class = "form-control" })
            </div>
            <div class="form-group input-group-sm">
                Importancy factor: @Html.TextBoxFor(o => model.ImportancyFactor, new { @class = "form-control" })
            </div>
            <div class="form-group input-group-sm">
                Bot starts talk first: @Html.CheckBoxFor(o => model.IsBotFirst, new { @class = "form-control" })
            </div>

            <div class="">
                <input type="submit" class="btn btn-success" />
            </div>
        }
    </div>
</div>

<div class="panel-group right-add-message-panel" id="accordion">

    <div class="panel-heading">
        <h3 class="panel-title">List of messages</h3>
    </div>
    <div class="panel-body">

        @{
            <h4 class="dark-blue-label">If bot starts talking first</h4>

    var previousNumber = int.MinValue;
            foreach (var message in @Model.Messages.Where(model => model.IsBotFirst))
            {
                if (!string.IsNullOrWhiteSpace(message.Message))
                {
                    if (message.OrderNumber != previousNumber)
                    {
                        <div class="right-text">
                            <h5> Number of message: <strong>@message.OrderNumber</strong> </h5>
                        </div>
                        previousNumber = message.OrderNumber;
                    }

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href='@("#collapse" + @message.Id)'>
                                    @(message.OrderNumber). @message.Message
                                </a>
                                <span class="remove-message">
                                    <a href="@Url.Action("RemoveMessage", "Options", new { messageId = message.Id})"><i class="fa fa-close" aria-hidden="true"></i></a>
                                </span>
                            </h4>
                        </div>
                        <div id='@("collapse" + @message.Id)' class="panel-collapse collapse">
                            <div class="panel-body">
                                Start time: @message.StartTime - End time: @message.EndTime
                                @if (message.IsEmergencyText)
                                {
                                    <div class="message-emergency-warning"><i class="fa fa-info-circle"></i> It is message after catching stop word</div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }

            <h4 class="dark-blue-label">If bot starts talking second</h4>

            previousNumber = int.MinValue;
            foreach (var message in @Model.Messages.Where(model => !model.IsBotFirst))
            {
                if (!string.IsNullOrWhiteSpace(message.Message))
                {
                    if (message.OrderNumber != previousNumber)
                    {
                        <div class="right-text">
                            <h5> Number of message: <strong>@message.OrderNumber</strong> </h5>
                        </div>
                        previousNumber = message.OrderNumber;
                    }

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href='@("#collapse" + @message.Id)'>
                                    @(message.OrderNumber). @message.Message
                                </a>
                                <span class="remove-message">
                                    <a href="@Url.Action("RemoveMessage", "Options", new {messageId = message.Id})"><i class="fa fa-close" aria-hidden="true"></i></a>
                                </span>
                            </h4>
                        </div>
                        <div id='@("collapse" + @message.Id)' class="panel-collapse collapse">
                            <div class="panel-body">
                                Start time: @message.StartTime - End time: @message.EndTime <br/>
                                @if (message.IsEmergencyText)
                                {
                                    <div class="message-emergency-warning"><i class="fa fa-info-circle"></i> It is message after catching stop word</div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        }

    </div>
</div>