@{
    ViewBag.Title = "Home Page";
}

@model List<Services.ViewModels.HomeModels.AccountViewModel>

<div class="jumbotron">
</div>

<div class="row">
    <div class="list-group">
        @foreach (var account in @Model)
        {
            @Html.ActionLink(@account.Login, "Index", "Account", new {AccountId = account.FacebookId}, new {@class = "list-group-item active"})
        }
    </div>
</div>

<div>
    <a href="@Url.Action("Index", "Options")" class="btn btn-primary"> <i class="fa fa-cogs"></i> Options </a>
    <a href="@Url.Action("Index", "Groups")" class="btn btn-primary"> <i class="fa fa-object-group"></i> Groups </a>
    <a href="@Url.Action("Index", "StopWords")" class="btn btn-primary"> <i class="fa fa-stop-circle"></i> Stop-Words </a>
    <a href="@Url.Action("Index", "Links")" class="btn btn-primary"> <i class="fa fa-link"></i> Links </a>
</div>