@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h2>Welcome to control panel</h2>
    <h4>Please choose one of the options</h4>
</div>
<div class="body-content">
    <a href="@Url.Action("Index", "Users")" class="btn btn-default rectangle-button"> <i class="fa fa-user"></i><br /> Users </a>
    <a href="@Url.Action("Index", "Options")" class="btn btn-default rectangle-button"> <i class="fa fa-envelope"></i><br/> Message options </a>
    <a href="@Url.Action("Index", "Groups")" class="btn btn-default rectangle-button"> <i class="fa fa-object-group"></i><br/> Groups </a>
    <a href="@Url.Action("Index", "StopWords")" class="btn btn-default rectangle-button"> <i class="fa fa-stop-circle"></i><br/> Stop-Words </a>
    <a href="@Url.Action("Index", "ExtraMessages")" class="btn btn-default rectangle-button"> <i class="fa fa-bolt"></i><br /> Extra-Messages </a>
    <a href="@Url.Action("Index", "Links")" class="btn btn-default rectangle-button"> <i class="fa fa-link"></i><br/> Links </a>
    <a href="/dashboard" class="btn btn-default rectangle-button"> <i class="fa fa-clock-o"></i><br/> Dash-board </a>
    <a href="@Url.Action("Index", "DeletedUsers")" class="btn btn-default rectangle-button"> <i class="fa fa-user-times"></i><br /> Deleted users </a>
</div>