@using System.Resources
@using WebApp.Resources.Views.Home
@using WebApp.Resources.Views.Shared
@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h2>@HomeTexts.HomeWelcomeTitle</h2>
    <h4>@HomeTexts.HomeWelcomeSubTitle</h4>
</div>
<div class="body-content">
    <a href="@Url.Action("Index", "Users", new { showWorking = true})" class="btn btn-default rectangle-button"> <i class="fa fa-user"></i><br /><h3>@HomeTexts.MenuUsers</h3></a>
    <a href="@Url.Action("Index", "DeletedUsers")" class="btn btn-default rectangle-button"> <i class="fa fa-user-times"></i><br /><h3>@HomeTexts.MenuDeletedUsers</h3></a>
    <a href="@Url.Action("Index", "Options")" class="btn btn-default rectangle-button"> <i class="fa fa-envelope"></i><br/><h3>@HomeTexts.MenuMessageOptions</h3></a>
    <a href="@Url.Action("Index", "ExtraMessages")" class="btn btn-default rectangle-button"> <i class="fa fa-bolt"></i><br /><h3>@HomeTexts.MenuExtraMessages</h3></a>
    <a href="@Url.Action("Index", "StopWords")" class="btn btn-default rectangle-button"> <i class="fa fa-stop-circle"></i><br /><h3>@HomeTexts.MenuStopMessages</h3></a>
    <a href="@Url.Action("Index", "Groups")" class="btn btn-default rectangle-button"> <i class="fa fa-object-group"></i><br/><h3>@HomeTexts.MenuGroups</h3></a>
    <a href="@Url.Action("Index", "GroupFunctions")" class="btn btn-default rectangle-button"> <i class="fa fa-gears"></i><br /><h3>@HomeTexts.MenuGroupFunctions</h3></a>
    <a href="@Url.Action("Index", "Links")" class="btn btn-default rectangle-button"> <i class="fa fa-link"></i><br/><h3>@HomeTexts.MenuLinks</h3></a>
    <a href="@Url.Action("Index", "Spies")" class="btn btn-default rectangle-button"> <i class="fa fa-user-secret"></i><br /><h3>@HomeTexts.MenuSpies</h3></a>
    <a href="/dashboard" class="btn btn-default rectangle-button"> <i class="fa fa-clock-o"></i><br /><h3>@HomeTexts.MenuDashboard</h3></a>
</div>