
@{
    ViewBag.Title = "Index";
}
@model List<Services.ViewModels.GroupFunctionsModels.GroupFunctionViewModel>

@section scripts
{
    <script type="text/javascript" src="/Content/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="/Content/bootstrap-multiselect.css" type="text/css"/>

    @foreach (var group in @Model)
    {
        <script type="text/javascript">

            $(document).ready(function() {
                $("#submit-@group.GroupId").hide();
                $('#select-' + @group.GroupId).multiselect({
                    onChange: function(option, checked, select) {
                        $("#submit-@group.GroupId").show();
                    },
                    buttonText: function(options, select) {
                        return 'Check functions';
                    },
                });
            });
        </script>
    }
}

<div class="panel panel-default">
    <div class="page-header">
        <h3 class="alert-info alert">Group Functions</h3>
    </div>
    <div class="panel-footer">
        @foreach (var group in @Model)
        {
            using (Html.BeginForm("SaveFunctions", "GroupFunctions", FormMethod.Post))
            {
                <div class="alert alert-info">
                    <div class="inline-half-text-left">
                        <div class="message-list-tittle width-200">
                            <input type="hidden" name="groupId" value="@group.GroupId"/>
                            @group.GroupName
                        </div>
                        <div class="message-list-tittle width-200">
                            <select id="select-@group.GroupId" multiple="multiple" class="col-md-12" name="functions">
                                @{
                                    var groupedFunctions = group.Functions.GroupBy(model => model.FunctionTypeName);
                                    foreach (var groupedFunction in groupedFunctions)
                                    {
                                        <optgroup label="@groupedFunction.FirstOrDefault().TypeName">
                                            @foreach (var function in groupedFunction.ToList())
                                            {
                                                if (function.Assigned)
                                                {
                                                    <option value="@function.FunctionId" selected="selected">@function.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@function.FunctionId">@function.Name</option>
                                                }
                                            }
                                        </optgroup>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="inline-half-text-right">
                        <div>
                            <button type="submit" class="btn btn-primary" id="submit-@group.GroupId" hidden="hidden"><i class="fa fa-floppy-o"></i></button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

