
@{
    ViewBag.Title = "Index";
}

@using WebApp.Resources.Views.Buttons
@using WebApp.Resources.Views.GroupSettings
@model Services.ViewModels.GroupModels.GroupSettingsViewModel


<h2>@GroupSettingsTexts.GroupSettingsTitle</h2>

@using (Html.BeginForm("UpdateGroupSettings", "GroupSettings", FormMethod.Post))
{
    <div class="panel panel-default">
        
        <div class="panel-body">
            <div class="panel panel-primary">
                <div class="panel-heading">@GroupSettingsTexts.GroupsTitle</div>
                <div class="col-md-12 panel-body">
                    <div class="input-group" style="width: 100%;">
                        <span class="width-200 input-group-addon">@GroupSettingsTexts.Groups:</span>
                        @Html.TextAreaFor(o => Model.FacebookGroups, new { @class = "form-control", rows = "15", style = "width: 100%; max-width: 100%;min-width: 100%;" })
                    </div>
                </div>
                <div class="col-md-12 panel-body">
                    <div class="input-group" style="width: 100%;">
                        <span class="width-200 input-group-addon">@GroupSettingsTexts.Pages:</span>
                        @Html.TextAreaFor(model => model.FacebookPages, new { @class = "form-control", rows = "15", style = "width: 100%; max-width: 100%;min-width: 100%;" })
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="panel panel-primary">
                <div class="panel-heading">@GroupSettingsTexts.GeoOptions</div>
                <div class="col-md-6 panel-body">
                    <div class="input-group">
                        <span class="width-200 input-group-addon">@GroupSettingsTexts.Cities:</span>
                        @Html.TextAreaFor(o => Model.Cities, new { @class = "form-control", cols = "40", rows = "15" })
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">@GroupSettingsTexts.Gender:</span>
                        @Html.EnumDropDownListFor(model => model.Gender, null, new { @class = "form-control" })
                    </div>
                    <br />
                </div>
                <div class="col-md-6 panel-body">
                    <div class="input-group">
                        <span class="width-200 input-group-addon">@GroupSettingsTexts.Countries:</span>
                        @Html.TextAreaFor(o => Model.Countries, new { @class = "form-control", cols = "40", rows = "15" })
                    </div>
                    <br />
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="panel panel-primary">
                <div class="panel-heading">@GroupSettingsTexts.LimitsSettingsTitle</div>
                <div class="col-md-6 panel-body">
                    <div class="input-group">
                        <span class="input-group-addon">@GroupSettingsTexts.CountMinFriends:</span>
                        @Html.TextBoxFor(o => Model.CountMinFriends, new { @class = "form-control", cols = "40", rows = "15" })
                    </div>
                </div>
                <div class="col-md-6 panel-body">
                    <div class="input-group">
                        <span class="input-group-addon">@GroupSettingsTexts.CountMaxFriends:</span>
                        @Html.TextBoxFor(o => Model.CountMaxFriends, new { @class = "form-control", cols = "40", rows = "15" })
                    </div>
                    <br />
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="panel panel-primary">
                <div class="panel-heading">@GroupSettingsTexts.RetryOptions</div>
                <div class="panel-body">
                    <div class="">
                        <div class="text-center">
                            <h3>@GroupSettingsTexts.Messages</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon" style="width:60%">@GroupSettingsTexts.RetryTimeSendUnread:</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeSendUnreadHour, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Hour.</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeSendUnreadMin, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Min.</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeSendUnreadSec, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Sec.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon" style="width:60%">@GroupSettingsTexts.RetryTimeSendUnanswered:</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeSendUnansweredHour, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Hour.</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeSendUnansweredMin, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Min.</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeSendUnansweredSec, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Sec.</span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon" style="width:60%">@GroupSettingsTexts.RetryTimeSendNewFriend:</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeSendNewFriendHour, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Hour.</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeSendNewFriendMin, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Min.</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeSendNewFriendSec, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Sec.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon" style="width:60%">@GroupSettingsTexts.UnansweredDelay:</span>
                                    @Html.TextBoxFor(o => Model.UnansweredDelay, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Min.</span>
                                    <span class="input-group-addon" style="width:20%"></span>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h3>@GroupSettingsTexts.Friends</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon" style="width:60%">@GroupSettingsTexts.RetryTimeConfirmFriendships:</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeConfirmFriendshipsHour, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Hour.</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeConfirmFriendshipsMin, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Min.</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeConfirmFriendshipsSec, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Sec.</span>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon" style="width:60%">@GroupSettingsTexts.RetryTimeGetNewAndRecommendedFriends:</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeGetNewAndRecommendedFriendsHour, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Hour.</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeGetNewAndRecommendedFriendsMin, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Min.</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeGetNewAndRecommendedFriendsSec, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Sec.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon" style="width:60%">@GroupSettingsTexts.RetryTimeRefreshFriends:</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeRefreshFriendsHour, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Hour.</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeRefreshFriendsMin, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Min.</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeRefreshFriendsSec, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Sec.</span>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon" style="width:60%">@GroupSettingsTexts.RetryTimeSendRequestFriendships:</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeSendRequestFriendshipsHour, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Hour.</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeSendRequestFriendshipsMin, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Min.</span>
                                    @Html.TextBoxFor(o => Model.RetryTimeSendRequestFriendshipsSec, new { @class = "form-control" })
                                    <span class="input-group-addon">@GroupSettingsTexts.Sec.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <input type="submit" class="btn btn-success" value="@ButtonsTexts.ButtonSave" />
        </div>
    </div>

    <div>
        <a href="@Url.Action("Index", "Groups")" class="btn btn-primary"> <i class="fa fa-arrow-left"></i>@ButtonsTexts.ButtonBackToList</a>
    </div>
    
    @Html.HiddenFor(x => Model.GroupId)
}
