
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using Constants.FriendTypesEnum
@model Services.ViewModels.FriendsModels.AnalizeFriendListViewModel

<div class="panel panel-default">
    <div class="page-header">
        <h3 class="alert-info alert">Outgoing friends requests</h3>
        <div class="inline-actions">
            <a href="@Url.Action("Index", "Friends", new { accountId = Model.AccountId})" class="btn btn-primary">Back</a>
        </div>
    </div>
    <div class="panel-footer">
        @{<div>Recommended(@Model.Friends.Count())</div>
            int outcomingFriendCount = 1;
            foreach (var friend in @Model.Friends)
             {
                 <div class="@(friend.Status == StatusesFriend.ToAdd ? "alert alert-success" : friend.Status == StatusesFriend.ToAnalys ? "alert alert-info" : "alert alert-danger")">
                     @outcomingFriendCount.
                     <div class="inline-half-text-left">
                         <div class="message-list-tittle">
                             <div class="">@friend.FriendName (@friend.FacebookId)</div>
                         </div>
                     </div>
                 </div>
                outcomingFriendCount++;
             }

        }
    </div>

    <div class="inline-actions">
        <a href="@Url.Action("Index", "Friends", new { accountId = Model.AccountId})" class="btn btn-primary">Back</a>
    </div>
</div>