@{
    ViewBag.Title = "Index";
}

@model Services.ViewModels.FriendsModels.FriendListViewModel

@section scripts
{
    <script>
        var item_to_delete;
        $(".deleteItem").click(function(e) {
            accountId = $(this).data('id');
            friendId = $(this).data('fid');
        });
        $('#btnContinueDelete').click(function() {
            window.location = "@Url.Action("RemoveFriend", "Friends")" + "?accountId=" + accountId + "&friendId=" + friendId;
        });
    </script>
}

<div class="panel panel-default">
    <div class="page-header">
        <h3 class="alert-info alert">Friends</h3>
    </div>
    <div class="panel-body">
        <div class="inline-actions">
            <a href="@Url.Action("Index", "FriendsIncomingRequests", new { accountId = Model.AccountId })" class="btn btn-primary">Incoming request friendships</a>
        </div>
        <div class="inline-actions">
            <a href="@Url.Action("Index", "FriendsOutgoingRequests", new { accountId = Model.AccountId })" class="btn btn-primary">Outgoing request friendships</a>
        </div>
    </div>
    <div class="panel-footer">
        <div>Friends (@Model.Friends.Count(model => !model.Deleted))</div>
        @foreach (var friend in @Model.Friends.Where(model => !model.Deleted))
        {
            <div class="@(friend.Deleted ? "alert alert-danger" : friend.MessagesEnded ? "alert alert-success" : "alert alert-info")">
                <div class="inline-half-text-left">
                    <div class="message-list-tittle">
                        <div class="">@friend.Name</div>
                    </div>
                    <div class="inline-half-text-left">
                        <div class="inline-actions">
                            <a href="@Url.Action("Index", "FriendMessages", new { accountId = Model.AccountId, friendId = friend.Id })"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
                <div class="inline-half-text-right">
                    <div class="remove-message">
                        <a id="deleteItem" class="deleteItem" data-target="#basic" data-toggle="modal" data-id="@Model.AccountId" data-fid="@friend.Id" href=""><i class="fa fa-close"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="panel-footer">
        <div>Deleted (@Model.Friends.Count(model => model.Deleted))</div>
        @foreach (var friend in @Model.Friends.Where(model => model.Deleted))
        {
            <div class="@(friend.Deleted ? "alert alert-danger" : friend.MessagesEnded ? "alert alert-success" : "alert alert-info")">
                <div class="inline-half-text-left">
                    <div class="message-list-tittle">
                        <div class="">@friend.Name</div>
                    </div>
                    <div class="inline-actions">
                        <a href="@Url.Action("Index", "FriendMessages", new { accountId = Model.AccountId, friendId = friend.Id })"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                <i class="fa fa-warning warning-message"></i> Are you sure you want to delete this friend?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>