@{
    ViewBag.Title = "Index";
}

@model Services.ViewModels.FriendsModels.FriendListViewModel

<div class="panel panel-default">
    <div class="page-header">
        <h3 class="alert-info alert">Friends</h3>
    </div>
    <div class="panel-body">
        <div class="inline-actions">
            <a href="@Url.Action("Index", "FriendsIncomingRequests", new { accountId = Model.AccountId })" class="btn btn-primary">Incoming request friendships</a>
        </div>
        <div class="inline-actions">
            <a href="@Url.Action("Index", "FriendsOutgoingRequests", new { accountId = Model.AccountId })" class="btn btn-primary">Outgoing request friendships</a>
        </div>
    </div>
    <div class="panel-footer">
        <div>Friends (@Model.Friends.Count(model => !model.Deleted))</div>
        @foreach (var friend in @Model.Friends.Where(model => !model.Deleted))
        {
            <div class="@(friend.Deleted ? "alert alert-danger" : friend.MessagesEnded ? "alert alert-success" : "alert alert-info")">
                <div class="inline-half-text-left">
                    <div class="message-list-tittle">
                        <div class="">@friend.Name</div>
                    </div>
                    <div class="inline-actions">
                        <a href="@Url.Action("Index", "FriendMessages", new { accountId = Model.AccountId, friendId = friend.Id })"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="panel-footer">
        <div>Deleted (@Model.Friends.Count(model => model.Deleted))</div>
        @foreach (var friend in @Model.Friends.Where(model => model.Deleted))
        {
            <div class="@(friend.Deleted ? "alert alert-danger" : friend.MessagesEnded ? "alert alert-success" : "alert alert-info")">
                <div class="inline-half-text-left">
                    <div class="message-list-tittle">
                        <div class="">@friend.Name</div>
                    </div>
                    <div class="inline-actions">
                        <a href="@Url.Action("Index", "FriendMessages", new { accountId = Model.AccountId, friendId = friend.Id })"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

