@{
    ViewBag.Title = "Index";
}

@using Constants.MessageEnums
@model Services.ViewModels.FriendMessagesModels.FriendMessageList

<div class="panel panel-default">
    <div class="page-header">
        <h3 class="alert-info alert">Messages</h3>
    </div>
    <div class="panel-footer">
        @foreach (var message in @Model.FriendMessages)
        {
            <div class="alert alert-info">
                <div class="@(message.MessageDirection != MessageDirection.ToFriend ? "right-messsge-text" : "left-messsge-text")">
                    <div class="message-list-tittle">
                        <div class="">
                            @if (message.MessageDirection != MessageDirection.ToFriend)
                            {
                                <strong>@message.Message</strong>
                                <i class="fa fa-arrow-right"></i>
                                @message.MessageDateTime.Value.ToString("dd.MM HH:mm:ss")
                            }
                            else
                            {
                                @message.MessageDateTime.Value.ToString("dd.MM HH:mm:ss")
                                <i class="fa fa-arrow-left"></i>
                                <strong>@message.Message</strong>
                            }
                        </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>
