
@{
    ViewBag.Title = "Index";
}

@model Services.ViewModels.AccountModels.AccountDraftViewModel

<div class="panel panel-default">
    <div class="page-header">
        <h3>
            <span class="alert-info alert">
                <span class="inline-half-text-left">
                    Create/Update Account Data
                </span>
                <span class="inline-half-text-right">
                    <a class="btn btn-success" href="@Url.Action("Index", "Users")"><i class="fa fa-arrow-left"></i> Back To List</a>
                </span>
            </span>
        </h3>
    </div>
    <div class="panel-footer">
        @using (Html.BeginForm("AddNewMessage", "Options", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.Id);

            <div class="form-group input-group-sm">
                Login: @Html.TextBoxFor(o => o.Login, new { @class = "form-control" })
            </div>
            <div class="form-group input-group-sm">
                Password: @Html.TextBoxFor(o => o.Password, new { @class = "form-control" })
            </div>
            <div class="form-group input-group-sm">
                Name: @Html.TextBoxFor(o => o.Name, new { @class = "form-control" })
            </div>
            <div class="form-group input-group-sm">
                PageUrl: @Html.TextBoxFor(o => o.PageUrl, new { @class = "form-control" })
            </div>
            <div class="form-group input-group-sm">
                FacebookId: @Html.TextBoxFor(o => o.FacebookId, new { @class = "form-control", @type="number" })
            </div>

            <div class="">
                <input type="submit" class="btn btn-success" />
            </div>
        }
    </div>
</div>

