@{
    ViewBag.Title = "Index";
}

@section scripts
{
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>


    @foreach (var stopWord in @Model.StopWords)
    {
        <script type="text/javascript">

            $('#@("stopWord" + stopWord.Id)').editable({
                type: 'text',
                pk: function() {
                    return $('#@("stopWord" + stopWord.Id)').text();
                },
                title: 'Enter Stop Word',
                success: function () {
                    setTimeout(function () {
                        var address = '@Url.Action("UpdateStopWord", "StopWords", new { stopWordId = @stopWord.Id })';
                        var name = $('#@("stopWord" + stopWord.Id)').text();

                        address = address + "&name=" + name;

                        window.location.href = address;
                    }, 250);
                }
            });
        </script>
    }
}
@model Services.ViewModels.StopWordsModels.StopWordList

<div class="panel panel-default">
    <div class="page-header">
        <h3 class="alert-info alert">Stop words</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("AddStopWord", "StopWords", FormMethod.Post))
        {
            <div class="input-group-section">
                <input name="Name" id="name" placeholder="New stop word" class="form-control" />
            </div>
            <div class="submit-section">
                <input type="submit" class="btn btn-primary" />
            </div>
        }
    </div>
    <div class="panel-footer">
        @foreach (var stopWord in @Model.StopWords)
        {
            <div class="alert alert-info">
                <div class="inline-half-text-left">
                    <div class="message-list-tittle">
                        <a id="@("stopWord" + stopWord.Id)">@stopWord.Name</a>
                    </div>
                    <div class="inline-actions">
                        <a href="@Url.Action("Index", "Options", new { stopWordId = stopWord.Id })"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
                <div class="inline-half-text-right">
                    <div class="remove-message">
                        <a href="@Url.Action("RemoveStopWord", "StopWords", new { stopWordId = stopWord.Id })"><i class="fa fa-close"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>






