@{
    ViewBag.Title = "Index";
}
@using WebApp.Resources.Views.Accounts
@using WebApp.Resources.Views.GroupSettings
@model Services.ViewModels.HomeModels.AccountSettingsViewModel


<h2>@AccountsTexts.AccountPageTitle</h2>

@using (Html.BeginForm("UpdateOptionsSettings", "Account", FormMethod.Post))
{
    if (Model.Account == null)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">@AccountsTexts.AccountInformationTitle</div>
                    <div class="col-md-7 panel-body">
                        @AccountsTexts.ErrorMessage
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">@AccountsTexts.AccountInformationTitle</div>
                    <div class="panel-body">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.Login + ":", new {@class = "form-control col-md-8"})
                                    </td>
                                    <td>
                                        @Html.LabelForModel(Model.Account.Login, new {@class = "form-control"})
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.Name + ":", new {@class = "form-control col-md-8"})
                                    </td>
                                    <td>
                                        @Html.LabelForModel(Model.Account.Name, new {@class = "form-control"})
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.HomePageUrl + ":", new {@class = "form-control col-md-8"})
                                    </td>
                                    <td>
                                        @Html.LabelForModel(Model.Account.PageUrl, new {@class = "form-control"})
                                    </td>
                                    <td>
                                        <a href="@Model.Account.PageUrl" target="blank">Go</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.Proxy + ":", new {@class = "form-control col-md-8"})
                                    </td>
                                    <td>
                                        @{
                                            if (Model.Account.Proxy != null)
                                            {
                                                @Html.LabelForModel(Model.Account.Proxy, new {@class = "form-control"})
                                            }
                                            else
                                            {
                                                @Html.Label(AccountsTexts.NoProxy, new {@class = "form-control"})
                                            }
                                        }
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">@AccountsTexts.AccountStatisticsTitle</div>
                    <div class="panel-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                    </th>
                                    <th>
                                        @AccountsTexts.LastHourStatistics
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.CountOfReceivedApplicationsFriend + ":", new {@class = "form-control col-md-7"})
                                    </td>
                                    <td>
                                        @{
                                            if (Model.Statistics.LastHourStatistic != null)
                                            {
                                                @Html.LabelForModel(Model.Statistics.LastHourStatistic.CountReceivedFriends.ToString(), new {@class = "form-control"})
                                            }
                                            else
                                            {
                                                @Html.Label(AccountsTexts.NoData, new {@class = "form-control col-md-7"})
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.CountOfRequestsSentToFriends + ":", new {@class = "form-control col-md-7"})
                                    </td>
                                    <td>
                                        @{
                                            if (Model.Statistics.LastHourStatistic != null)
                                            {
                                                @Html.LabelForModel(Model.Statistics.LastHourStatistic.CountRequestsSentToFriends.ToString(), new {@class = "form-control"})
                                            }
                                            else
                                            {
                                                @Html.Label(AccountsTexts.NoData, new {@class = "form-control col-md-7"})
                                            }
                                        }
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.CountOrdersConfirmedFriends + ":", new {@class = "form-control col-md-7"})
                                    </td>
                                    <td>
                                        @{
                                            if (Model.Statistics.LastHourStatistic != null)
                                            {
                                                @Html.LabelForModel(Model.Statistics.LastHourStatistic.CountOrdersConfirmedFriends.ToString(), new {@class = "form-control"})
                                            }
                                            else
                                            {
                                                @Html.Label(AccountsTexts.NoData, new {@class = "form-control col-md-7"})
                                            }
                                        }
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.LastUpdateStatistics + ":", new {@class = "form-control col-md-7"})
                                    </td>
                                    <td>
                                        @{
                                            if (Model.Statistics.LastHourStatistic != null)
                                            {
                                                @Html.LabelForModel(Model.Statistics.LastHourStatistic.DateTimeUpdateStatistics.ToString(), new {@class = "form-control"})
                                            }
                                            else
                                            {
                                                @Html.Label(AccountsTexts.NoData, new {@class = "form-control col-md-7"})
                                            }
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                    </th>
                                    <th>
                                        @AccountsTexts.AllTimeStatistics
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.CountOfReceivedApplicationsFriend + ":", new {@class = "form-control col-md-7"})
                                    </td>
                                    <td>
                                        @{
                                            if (Model.Statistics.AllTimeStatistic != null)
                                            {
                                                @Html.LabelForModel(Model.Statistics.AllTimeStatistic.CountReceivedFriends.ToString(), new {@class = "form-control"})
                                            }
                                            else
                                            {
                                                @Html.Label(AccountsTexts.NoData, new {@class = "form-control col-md-7"})
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.CountOfRequestsSentToFriends + ":", new {@class = "form-control col-md-7"})
                                    </td>
                                    <td>
                                        @{
                                            if (Model.Statistics.AllTimeStatistic != null)
                                            {
                                                @Html.LabelForModel(Model.Statistics.AllTimeStatistic.CountRequestsSentToFriends.ToString(), new {@class = "form-control"})
                                            }
                                            else
                                            {
                                                @Html.Label(AccountsTexts.NoData, new {@class = "form-control col-md-7"})
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.CountOrdersConfirmedFriends + ":", new {@class = "form-control col-md-7"})
                                    </td>
                                    <td>
                                        @{
                                            if (Model.Statistics.AllTimeStatistic != null)
                                            {
                                                @Html.LabelForModel(Model.Statistics.AllTimeStatistic.CountOrdersConfirmedFriends.ToString(), new {@class = "form-control"})
                                            }
                                            else
                                            {
                                                @Html.Label(AccountsTexts.NoData, new {@class = "form-control col-md-7"})
                                            }
                                        }
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.LastUpdateStatistics + ":", new {@class = "form-control col-md-7"})
                                    </td>
                                    <td>
                                        @{
                                            if (Model.Statistics.AllTimeStatistic != null)
                                            {
                                                @Html.LabelForModel(Model.Statistics.AllTimeStatistic.DateTimeUpdateStatistics.ToString(), new {@class = "form-control"})
                                            }
                                            else
                                            {
                                                @Html.Label(AccountsTexts.NoData, new {@class = "form-control col-md-7"})
                                            }
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">@AccountsTexts.GeoOptions</div>
                    <div class="col-md-6 panel-body">
                        <div class="input-group">
                            <span class="width-200 input-group-addon"> Sities</span>
                            @Html.TextAreaFor(o => Model.Settings.Cities, new { @class = "form-control", cols = "40", rows = "15", @disabled = true })
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon">Gender:</span>
                            @Html.EnumDropDownListFor(model => model.Settings.Gender, null, new { @class = "form-control", @disabled = true })
                        </div>
                        <br />
                    </div>
                    <div class="col-md-6 panel-body">
                        <div class="input-group">
                            <span class="width-200 input-group-addon">Countries:</span>
                            @Html.TextAreaFor(o => Model.Settings.Countries, new { @class = "form-control", cols = "40", rows = "15", @disabled = true })
                        </div>
                        <br />
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">@AccountsTexts.MessageOptions</div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <div class="">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">@GroupSettingsTexts.RetryTimeSendUnread:</span>
                                            @Html.TextBoxFor(o => Model.Settings.RetryTimeSendUnread, new { @class = "form-control", disabled = "true" })
                                            <span class="input-group-addon">@GroupSettingsTexts.Min.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">@GroupSettingsTexts.RetryTimeSendUnanswered:</span>
                                            @Html.TextBoxFor(o => Model.Settings.RetryTimeSendUnanswered, new { @class = "form-control", disabled = "true" })
                                            <span class="input-group-addon">@GroupSettingsTexts.Min.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">@GroupSettingsTexts.UnansweredDelay:</span>
                                            @Html.TextBoxFor(o => Model.Settings.UnansweredDelay, new { @class = "form-control", disabled = "true" })
                                            <span class="input-group-addon">@GroupSettingsTexts.Min.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">@GroupSettingsTexts.RetryTimeSendNewFriend:</span>
                                            @Html.TextBoxFor(o => Model.Settings.RetryTimeSendNewFriend, new { @class = "form-control", disabled = "true" })
                                            <span class="input-group-addon">@GroupSettingsTexts.Min.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">@GroupSettingsTexts.RetryTimeConfirmFriendships:</span>
                                            @Html.TextBoxFor(o => Model.Settings.RetryTimeConfirmFriendships, new { @class = "form-control", disabled = "true" })
                                            <span class="input-group-addon">@GroupSettingsTexts.Min.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">@GroupSettingsTexts.RetryTimeGetNewAndRecommendedFriends:</span>
                                            @Html.TextBoxFor(o => Model.Settings.RetryTimeGetNewAndRecommendedFriends, new { @class = "form-control", disabled = "true" })
                                            <span class="input-group-addon">@GroupSettingsTexts.Min.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">@GroupSettingsTexts.RetryTimeRefreshFriends:</span>
                                            @Html.TextBoxFor(o => Model.Settings.RetryTimeRefreshFriends, new { @class = "form-control", disabled = "true" })
                                            <span class="input-group-addon">@GroupSettingsTexts.Min.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">@GroupSettingsTexts.RetryTimeSendRequestFriendships:</span>
                                            @Html.TextBoxFor(o => Model.Settings.RetryTimeSendRequestFriendships, new { @class = "form-control", disabled = "true" })
                                            <span class="input-group-addon">@GroupSettingsTexts.Min.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <a href="@Url.Action("Index", "Users")" class="btn btn-primary"> <i class="fa fa-arrow-left"></i>@AccountsTexts.BackToList </a>
        </div>
    }
    @Html.HiddenFor(x => x.Account.Id)
}

            
