@{
    ViewBag.Title = "Index";
}
@using System.Globalization
@using WebApp.Resources.Views.Accounts
@using WebApp.Resources.Views.Buttons
@model Services.ViewModels.HomeModels.AccountSettingsViewModel


<h2>@AccountsTexts.AccountPageTitle</h2>

@using (Html.BeginForm("UpdateOptionsSettings", "Account", FormMethod.Post))
{
    if (Model.Account == null)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">@AccountsTexts.AccountInformationTitle</div>
                    <div class="col-md-7 panel-body">
                        @AccountsTexts.ErrorMessage
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">@AccountsTexts.AccountInformationTitle</div>
                    <div class="panel-body">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.Login + ":", new {@class = "form-control col-md-8"})
                                    </td>
                                    <td>
                                        @Html.LabelForModel(Model.Account.Login, new {@class = "form-control"})
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.Name + ":", new {@class = "form-control col-md-8"})
                                    </td>
                                    <td>
                                        @Html.LabelForModel(Model.Account.Name, new {@class = "form-control"})
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.HomePageUrl + ":", new {@class = "form-control col-md-8"})
                                    </td>
                                    <td>
                                        @Html.LabelForModel(Model.Account.PageUrl, new {@class = "form-control"})
                                    </td>
                                    <td>
                                        <a href="@Model.Account.PageUrl" target="blank">Go</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.Proxy + ":", new {@class = "form-control col-md-8"})
                                    </td>
                                    <td>
                                        @{
                                            if (Model.Account.Proxy != null)
                                            {
                                                @Html.LabelForModel(Model.Account.Proxy, new {@class = "form-control"})
                                            }
                                            else
                                            {
                                                @Html.Label(AccountsTexts.NoProxy, new {@class = "form-control"})
                                            }
                                        }
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    
        <div class="panel panel-default">
            <div class="panel-heading">@AccountsTexts.Settings</div>
            <div class="panel-body">
                @{
                    if (Model.Account.GroupSettingsId != null)
                    {
                        <a href="@Url.Action("Index", "GroupSettings", new {groupId = Model.Account.GroupSettingsId})" class="btn btn-primary"> <i class="fa fa-arrow-left"></i>@ButtonsTexts.GoToGroupSettings </a>
                    }

                }
            </div>
        </div>
    
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel panel-primary">
                    <div class="panel-heading">@AccountsTexts.AccountStatisticsTitle</div>
                    <div class="panel-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                    </th>
                                    <th>
                                        @AccountsTexts.LastHourStatistics
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.NumberOfWinksBack + ":", new { @class = "form-control col-md-7" })
                                    </td>
                                    <td>
                                        @(Model.Statistics.LastHourStatistic != null ? 
                                        Html.LabelForModel(Model.Statistics.LastHourStatistic.CountOfWinksBack.ToString(CultureInfo.InvariantCulture), new {@class = "form-control"}) : 
                                        Html.Label(AccountsTexts.NoData, new {@class = "form-control col-md-7"}))
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.CountOfReceivedApplicationsFriend + ":", new {@class = "form-control col-md-7"})
                                    </td>
                                    <td>
                                        @{
                                            if (Model.Statistics.LastHourStatistic != null)
                                            {
                                                @Html.LabelForModel(Model.Statistics.LastHourStatistic.CountReceivedFriends.ToString(), new {@class = "form-control"})
                                            }
                                            else
                                            {
                                                @Html.Label(AccountsTexts.NoData, new {@class = "form-control col-md-7"})
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.CountOfRequestsSentToFriends + ":", new {@class = "form-control col-md-7"})
                                    </td>
                                    <td>
                                        @{
                                            if (Model.Statistics.LastHourStatistic != null)
                                            {
                                                @Html.LabelForModel(Model.Statistics.LastHourStatistic.CountRequestsSentToFriends.ToString(), new {@class = "form-control"})
                                            }
                                            else
                                            {
                                                @Html.Label(AccountsTexts.NoData, new {@class = "form-control col-md-7"})
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.CountOrdersConfirmedFriends + ":", new {@class = "form-control col-md-7"})
                                    </td>
                                    <td>
                                        @{
                                            if (Model.Statistics.LastHourStatistic != null)
                                            {
                                                @Html.LabelForModel(Model.Statistics.LastHourStatistic.CountOrdersConfirmedFriends.ToString(), new {@class = "form-control"})
                                            }
                                            else
                                            {
                                                @Html.Label(AccountsTexts.NoData, new {@class = "form-control col-md-7"})
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.LastUpdateStatistics + ":", new {@class = "form-control col-md-7"})
                                    </td>
                                    <td>
                                        @{
                                            if (Model.Statistics.LastHourStatistic != null)
                                            {
                                                @Html.LabelForModel(Model.Statistics.LastHourStatistic.DateTimeUpdateStatistics.ToString(), new {@class = "form-control"})
                                            }
                                            else
                                            {
                                                @Html.Label(AccountsTexts.NoData, new {@class = "form-control col-md-7"})
                                            }
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                    </th>
                                    <th>
                                        @AccountsTexts.AllTimeStatistics
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.NumberOfWinksBack + ":", new { @class = "form-control col-md-7" })
                                    </td>
                                    <td>
                                        @(Model.Statistics.AllTimeStatistic != null 
                                        ? Html.LabelForModel(Model.Statistics.AllTimeStatistic.CountOfWinksBack.ToString(CultureInfo.InvariantCulture), new {@class = "form-control"}) 
                                        : Html.Label(AccountsTexts.NoData, new {@class = "form-control col-md-7"}))
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.CountOfReceivedApplicationsFriend + ":", new {@class = "form-control col-md-7"})
                                    </td>
                                    <td>
                                        @{
                                            if (Model.Statistics.AllTimeStatistic != null)
                                            {
                                                @Html.LabelForModel(Model.Statistics.AllTimeStatistic.CountReceivedFriends.ToString(), new {@class = "form-control"})
                                            }
                                            else
                                            {
                                                @Html.Label(AccountsTexts.NoData, new {@class = "form-control col-md-7"})
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.CountOfRequestsSentToFriends + ":", new {@class = "form-control col-md-7"})
                                    </td>
                                    <td>
                                        @{
                                            if (Model.Statistics.AllTimeStatistic != null)
                                            {
                                                @Html.LabelForModel(Model.Statistics.AllTimeStatistic.CountRequestsSentToFriends.ToString(), new {@class = "form-control"})
                                            }
                                            else
                                            {
                                                @Html.Label(AccountsTexts.NoData, new {@class = "form-control col-md-7"})
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.CountOrdersConfirmedFriends + ":", new {@class = "form-control col-md-7"})
                                    </td>
                                    <td>
                                        @{
                                            if (Model.Statistics.AllTimeStatistic != null)
                                            {
                                                @Html.LabelForModel(Model.Statistics.AllTimeStatistic.CountOrdersConfirmedFriends.ToString(), new {@class = "form-control"})
                                            }
                                            else
                                            {
                                                @Html.Label(AccountsTexts.NoData, new {@class = "form-control col-md-7"})
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Label(AccountsTexts.LastUpdateStatistics + ":", new {@class = "form-control col-md-7"})
                                    </td>
                                    <td>
                                        @{
                                            if (Model.Statistics.AllTimeStatistic != null)
                                            {
                                                @Html.LabelForModel(Model.Statistics.AllTimeStatistic.DateTimeUpdateStatistics.ToString(), new {@class = "form-control"})
                                            }
                                            else
                                            {
                                                @Html.Label(AccountsTexts.NoData, new {@class = "form-control col-md-7"})
                                            }
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
     
        <div>
            <a href="@Url.Action("Index", "Users")" class="btn btn-primary"> <i class="fa fa-arrow-left"></i>@AccountsTexts.BackToList </a>
        </div>
    }
    @Html.HiddenFor(x => x.Account.Id)
}

            
