@{
    ViewBag.Title = "Users";
}

@model List<Services.ViewModels.HomeModels.AccountViewModel>

<div class="panel panel-default">
    <div class="page-header">
        <h3 class="alert-info alert">Accounts</h3>
    </div>
    <div class="panel-footer">
        @foreach (var account in @Model)
        {
            <div class="alert alert-info">
                <div class="inline-half-text-left">
                    <div class="message-list-tittle">
                        <a id="@("group" + account.Id)">@account.Login</a>
                    </div>
                    <div class="inline-actions">
                        <a href="@Url.Action("Index", "Account", new {AccountId = account.FacebookId})"><i class="fa fa-cogs"></i></a>
                    </div>
                    <div class="inline-actions">
                        <a href="@Url.Action("Index", "Friends", new {AccountId = account.Id})"><i class="fa fa-users"></i></a>
                    </div>
                    <div class="inline-actions">
                        <a href="@Url.Action("Index", "Options", new { AccountId = account.Id })"><i class="fa fa-book"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
