@{
    ViewBag.Title = "Users";
}

@using WebApp.Resources.Views.Users
@model List<Services.ViewModels.HomeModels.AccountViewModel>

@section scripts
{
    <script>
        var item_to_delete;
        $(".deleteItem").click(function(e) {
            item_to_delete = $(this).data('id');
        });
        $('#btnContinueDelete').click(function() {
            window.location = "@Url.Action("RemoveAccount", "Users")" + "?accountId=" + item_to_delete;
        });
    </script>
    
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/jquery.signalR-2.2.1.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.signalR-2.2.1.min.js" type="text/javascript"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {

            //получаем прокси объект чат
            var chat = $.connection.notificationHub;

            //определяем метод, вызываемый с серверной част,
            //параметры естественно должы совпадать
            chat.client.addNotice = function (acccountId, msg) {
                var text4Stap = $("#messages_" + acccountId + " #span4").text();
                $("#messages_" + acccountId + " #span5").text(text4Stap).show('slow');
                
                var text3Stap = $("#messages_" + acccountId + " #span3").text();
                $("#messages_" + acccountId + " #span4").text(text3Stap).show('slow');
                
                var text2Stap = $("#messages_" + acccountId + " #span2").text();
                $("#messages_" + acccountId + " #span3").text(text2Stap).show('slow');

                var text1Stap = $("#messages_" + acccountId + " #span1").text();
                $("#messages_" + acccountId + " #span2").text(text1Stap).show('slow');
                
                $("#messages_" + acccountId + " #span1").text(" ").hide();
                $("#messages_" + acccountId + " #span1").text(msg).show('slow');
            };
            
            //стартуем все хабы
            $.connection.hub.start();


        });
    </script>
}

<div class="panel panel-default">
    <div class="page-header">
        <h3 class="alert-info alert"> @UsersTexts.AddNewAccount <a href="@Url.Action("Index", "UserEditor")"><i class="fa fa-plus-circle"></i></a></h3>
    </div>
    <div class="panel-footer">
        @foreach (var account in @Model)
        {
            var divClass = account.AuthorizationDataIsFailed || account.ProxyDataIsFailed ? "alert alert-danger" : "alert alert-info";
            var errorText = account.AuthorizationDataIsFailed ? @UsersTexts.CheckAuthorizationData : account.ProxyDataIsFailed ? @UsersTexts.CheckProxyData : null;
            
            <div class="@divClass">
                <div class="inline-half-text-left">
                    <div class="message-list-tittle">
                        <a id="@("group" + account.Id)">@account.Login</a>
                    </div>
                    <div class="inline-actions">
                        <a href="@Url.Action("Index", "Account", new {AccountId = account.Id})"><i class="fa fa-cogs"></i></a>
                    </div>
                    <div class="inline-actions">
                        <a href="@Url.Action("Index", "Friends", new {AccountId = account.Id})"><i class="fa fa-users"></i></a>
                    </div>
                    <div class="inline-actions">
                        <a href="@Url.Action("Index", "Options", new {AccountId = account.Id})"><i class="fa fa-book"></i></a>
                    </div>
                    <div class="inline-actions">
                        <a href="@Url.Action("Index", "UserEditor", new {AccountId = account.Id})"><i class="fa fa-pencil"></i></a>
                    </div>
                    <div class="inline-actions">
                        <a href="@Url.Action("Index", "Cookies", new {AccountId = account.Id})"><i class="fa fa-birthday-cake"></i></a>
                    </div>
                    <div class="inline-actions">
                        <a href="@Url.Action("Index", "GroupBlackList", new {groupId = account.GroupSettingsId})"><i class="fa fa-user-times"></i></a>
                    </div>
                    <div class="inline-actions">
                        @if (errorText != null)
                        {
                            <i class="fa fa-question-circle-o"></i> @errorText
                        }
                    </div>
                </div>
                <div class="inline-half-text-right">
                    <div class="remove-message">
                        <a id="deleteItem" class="deleteItem" data-target="#basic" data-toggle="modal" data-id="@account.Id" href=""><i class="fa fa-close"></i></a>
                    </div>
                </div>
                <div class="alert alert-success" style="margin-bottom: 0 !important">
                    <div class="inline-half">
                        <div id="messages_@account.Id">
                            <span id="span1">Аккаунт в режиме ожидания</span><br />
                            <span id="span2"></span><br />
                            <span id="span3"></span><br />
                            <span id="span4"></span><br />
                            <span id="span5"></span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                <i class="fa fa-warning warning-message"></i> Are you sure you want to delete this user?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>